h1{color:black;}

h1{text-align: center; }

#AC {width: 30%;}
#AC {margin-left: 36%;}
#AC {border:solid red ;}

body {background-color: yellow; }

#DC {width: 30%;}
#DC {margin-left: 36%;}
#DC {border:solid red ;}